@using Mash.SEOAnalyzer.Web.NET.Models
@model Mash.SEOAnalyzer.Web.NET.Models.SeoAnalyzeViewModel
@{
    ViewBag.Title = "SEO Analyzer";
}

@section styles
{

}

@section scripts
{

}
@section navbarExtension{

    <section class="headturbo" id="headturbo">
        <div class="headturbo-wrap" id="headturbo-wrap" style="margin-top: -635px">
            <div class="container">
                <div class="logo row">

                    <span class="themeLogoText">
                        <svg class="css-ze2te4 css-qd6ojx" viewBox="0 0 91 89.79038574623199"><g transform="translate(-1.0235173726593245, -1.7678935831820846) scale(0.930470318613803)" class="css-1mun45u" fill="#FFFFFF"><rect xmlns="http://www.w3.org/2000/svg" x="47.4" y="1.9" width="5.1" height="5.1"></rect><rect xmlns="http://www.w3.org/2000/svg" x="47.4" y="93.3" width="5.1" height="5.1"></rect><rect xmlns="http://www.w3.org/2000/svg" x="13.9" y="78.7" width="5.1" height="5.1"></rect><rect xmlns="http://www.w3.org/2000/svg" x="79.5" y="78.7" width="5.1" height="5.1"></rect><rect xmlns="http://www.w3.org/2000/svg" x="13.9" y="15.9" width="5.1" height="5.1"></rect><rect xmlns="http://www.w3.org/2000/svg" x="79.5" y="15.9" width="5.1" height="5.1"></rect><rect xmlns="http://www.w3.org/2000/svg" x="1.1" y="47.2" width="5.1" height="5.1"></rect><rect xmlns="http://www.w3.org/2000/svg" x="93.8" y="47.2" width="5.1" height="5.1"></rect><path xmlns="http://www.w3.org/2000/svg" d="M10.4,24.5c-3.8,5.8-6.2,12.2-7.1,19.1l-0.1,0.6h3l0.1-0.5c1-6.7,3.5-13.1,7.3-18.7l0.6-0.8h-3.5L10.4,24.5  z"></path><path xmlns="http://www.w3.org/2000/svg" d="M6.1,55.8L6,55.3H3.1l0.1,0.6c0.9,7.1,3.2,13.6,7,19.6l0.2,0.2h3.5l-0.6-0.8C9.5,69.2,7,62.6,6.1,55.8z"></path><path xmlns="http://www.w3.org/2000/svg" d="M93.7,43.8l0.1,0.5h3l-0.1-0.6c-1-6.9-3.4-13.3-7.1-19.1l-0.2-0.2h-3.5l0.6,0.8  C90.2,30.7,92.7,37.1,93.7,43.8z"></path><path xmlns="http://www.w3.org/2000/svg" d="M93.9,55.3l-0.1,0.5c-0.9,6.8-3.4,13.5-7.2,19.1L86,75.7h3.5l0.2-0.2c3.8-5.9,6.2-12.5,7-19.6l0.1-0.6  L93.9,55.3L93.9,55.3z"></path><path xmlns="http://www.w3.org/2000/svg" d="M74.1,13.2l0.1,0.1h5l-1.3-1C71.6,7.5,64,4.4,56.1,3.4l-0.6-0.1v3L56,6.4C62.5,7.3,68.6,9.5,74.1,13.2z"></path><path xmlns="http://www.w3.org/2000/svg" d="M21.9,12.3l-1.3,1h5l0.1-0.1C31.3,9.5,37.4,7.3,44,6.4l0.5-0.1v-3l-0.6,0.1C35.9,4.4,28.3,7.5,21.9,12.3z"></path><path xmlns="http://www.w3.org/2000/svg" d="M74.6,86.9c-5.6,3.7-12,6.2-18.7,7.1l-0.5,0.1v3L56,97c8.1-1.1,15.8-4.2,22.3-9.2l1.3-1L74.6,86.9  L74.6,86.9z"></path><path xmlns="http://www.w3.org/2000/svg" d="M25.3,86.9l-0.2-0.1h-4.9l1.3,1c6.5,5,14.3,8.1,22.4,9.2l0.6,0.1v-3L44,94C37.3,93.1,30.8,90.6,25.3,86.9z"></path><polygon xmlns="http://www.w3.org/2000/svg" points="36.7,59.6 24.3,49.6 36.8,40.6 39.7,44.7 32.6,49.8 39.8,55.7 "></polygon><polygon xmlns="http://www.w3.org/2000/svg" points="63.2,59.6 60.1,55.7 67.3,49.8 60.2,44.7 63.1,40.6 75.6,49.6 "></polygon><rect xmlns="http://www.w3.org/2000/svg" x="47.7" y="34" transform="matrix(0.9452 0.3264 -0.3264 0.9452 19.1192 -13.6479)" width="5" height="32.4"></rect></g></svg>
                    </span>
                    <span>Seo Analyzer</span>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="headturbo-content">

                            <h1 class="pulse">
                                <div>Instantly Analyze Web-Page and Text</div>
                            </h1>
                            <div class="">
                                <h2 id="title">Choose your option</h2>
                                <div class="row">
                                    <div class="col-sm-3 col-md-3 col-md-offset-3 col-lg-3 col-lg-offset-3">
                                        <a id="button-text-analyzer" class="btn btn-primary btn-lg pull-right">Analyze Plain text</a>
                                    </div>
                                    <div class="col-sm-3  col-md-3 col-lg-3">
                                        <a id="button-url-analyzer" class="btn btn-primary btn-lg">Analyze Website URL</a>
                                    </div>
                                </div>
                            </div>
                            <div class="">
                                <div class="row">
                                    @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { id = "analyzer-filter-form1" }))
                                    {
                                        <div class="col-sm-12 col-md-12 col-lg-12 hidden" id="text-box-input-container">
                                            <div class="form-group">
                                                <label for="internal-source">Paste your text here (only words at least 2 symbol long will be counted)</label>
                                                @Html.TextAreaFor(model => model.Text, new { @id = "internal-source", @placeholder = "Paste text here", @style = "width:100%; height:300px;" })
                                                @Html.ValidationMessageFor(m => m.Text, "", new { @class = "text-danger" })
                                                <small> Words that are shorter than <strong>2 symbols</strong> or <strong>contains symbols other than (digits, ', -, &, ., _)</strong> or exist in <strong>Stop Word list</strong> will be omitted.</small>
                                            </div>
                                            <div class="form-group text-left">
                                                <label>Select optional Analisys</label>
                                                <ul>
                                                    <li>
                                                        <label>
                                                            @Html.HiddenFor(m => m.SeoAnalyzeMode, new { @Value = (int)SeoAnalyzeMode.Text })
                                                        </label>
                                                    </li>
                                                    <li>
                                                        <label>
                                                            @Html.CheckBoxFor(m => m.CalculateWordOccurrenceInPageText)
                                                            Lookup Word Occurrences in Page Text
                                                        </label>
                                                    </li>
                                                    <li>
                                                        <label>
                                                            @Html.CheckBoxFor(m => m.CalculateExternalLink)
                                                            Lookup External Urls in Html anchor and in Page text
                                                        </label>
                                                    </li>
                                                    <li>
                                                        <label>
                                                            @Html.CheckBoxFor(m => m.FilterStopWords)
                                                            Filter Stop Words from Text
                                                        </label>
                                                    </li>
                                                </ul>
                                                <small> Words that are shorter than <strong>2 symbols</strong> or <strong>contain symbols other than (digits, ', -, &, ., _)</strong> or exist in <strong>Stop Word list</strong> will be omitted.</small>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <input id="submit-button1" type="submit" class="btn btn-primary btn-lg hidden" value="Analyze">
                                        </div>
                                    }
                                    @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { id = "analyzer-filter-form2" }))
                                    {
                                        <div class="col-sm-12 col-md-12 col-lg-12 hidden" id="url-input-container">
                                            <div class="form-group" id="external-source-options">
                                                <div class="form-group">
                                                    <label for="external-source">Enter an URL address</label>
                                                    @Html.TextBoxFor(model => model.Url, new { @id = "external-source", @placeholder = "Paste URL here", @style = "width:100%; height:auto;" })
                                                    @Html.ValidationMessageFor(m => m.Url, "", new { @class = "text-danger" })
                                                </div>
                                                <div class="form-group text-left">
                                                    <label>Select optional Analisys</label>
                                                    <ul>
                                                        <li>
                                                            <label>
                                                                @Html.HiddenFor(m => m.SeoAnalyzeMode, new { @Value = (int)SeoAnalyzeMode.Url })
                                                            </label>
                                                        </li>
                                                        <li>
                                                            <label>
                                                                @Html.CheckBoxFor(m => m.CalculateWordOccurrenceInPageText)
                                                                Lookup Word Occurrences in Page Text
                                                            </label>
                                                        </li>
                                                        <li>
                                                            <label>
                                                                @Html.CheckBoxFor(m => m.CalculateMetaDataOccurrenceInPageText)
                                                                Lookup MetaKeywords occurrences in Page Text
                                                            </label>
                                                        </li>
                                                        <li>
                                                            <label>
                                                                @Html.CheckBoxFor(m => m.CalculateExternalLink)
                                                                Lookup External Urls in Html anchor and in Page text
                                                            </label>
                                                        </li>
                                                        <li>
                                                            <label>
                                                                @Html.CheckBoxFor(m => m.FilterStopWords)
                                                                Filter Stop Words from MetaKeywords and Page Text
                                                            </label>
                                                        </li>
                                                    </ul>
                                                    <small> Words that are shorter than <strong>2 symbols</strong> or <strong>contain symbols other than (digits, ', -, &, ., _)</strong> or exist in <strong>Stop Word list</strong> will be omitted.</small>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <input id="submit-button2" type="submit" class="btn btn-primary btn-lg hidden" value="Analyze">
                                        </div>
                                    }
                                    <div id="preloader" class="hidden">
                                        <i class="fa fa-cog fa-spin fa-5x fa-fw" aria-hidden="true"></i>
                                        Analyzing ...
                                        <br />
                                    </div>
                                </div>
                            </div>
                            <div class="" id="analisys-results-container">
                                <div class="row">
                                    <div class="col-sm-12 col-md-12 col-lg-12 analyzer-messages">
                                        <h2 id="analisys-object-title" class="hidden">Analisys for: <strong><span class="analisys-object"></span></strong></h2>
                                        <div id="error-msg" class="alert alert-danger hidden analyzer-messages">
                                        </div>
                                    </div>
                                    <br />
                                    <div>
                                        <div id="jsGrid-analyzer-results-keywords" class="jsgrid table-results-container"></div>
                                    </div>
                                    <div>
                                        <div id="jsGrid-analyzer-results-keywords-meta" class="jsgrid table-results-container"></div>
                                    </div>
                                </div>
                                <div class="row">
                                    @*<div class="col-sm-12 col-md-12 col-lg-12 analyzer-messages">
                                            <h2 id="analisys-object-title" class="hidden">Analisys for: <strong><span class="analisys-object"></span></strong></h2>
                                            <div id="error-msg" class="alert alert-danger hidden analyzer-messages">
                                            </div>
                                        </div>*@
                                    <br />
                                    <div>
                                        <div id="jsGrid-analyzer-results-external-links" class="jsgrid table-results-container"></div>
                                    </div>
                                    <div>
                                        <div id="jsGrid-analyzer-results-external-html" class="jsgrid table-results-container"></div>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-sm-4 col-md-4 col-lg-4  col-md-offset-4">
                                        <input id="analyze-else" type="button" class="btn btn-primary btn-lg hidden" value="Analyze something else">
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}
